body {
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: #212121;
  font-family: "Roboto", sans serif;
  letter-spacing: 0.03;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero__button, .footer__button, .button__send {
  font-family: "Roboto", sans serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .header__mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
}

.logo--color {
  color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 998;
}

.menu-button .icon-cross {
  fill: currentColor;
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button .icon-menu {
  fill: currentColor;
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu:hover,
.menu-button .icon-menu:focus,
.menu-button .icon-cross:hover,
.menu-button .icon-cross:focus {
  fill: #2196f3;
}

.menu-container {
  background-color: #ffffff;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 20px;
    z-index: 997;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: block;
    font-family: "Roboto", sans serif;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Roboto", sans serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--active {
    color: #2196f3;
  }
  .site-nav__link--active::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav__link {
  font-weight: 500;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  margin-right: 7px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
  .auth-nav__link {
    font-family: "Roboto", sans serif;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link--mail {
    font-size: 25px;
  }
}

@media screen and (min-width: 767px) {
  .auth-nav__link--mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link--mail {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link--tel {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item--tel {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item--mail {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.header-social__link {
  color: #2196f3;
  font-family: "Roboto", sans serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-social__divider {
  color: #999999;
  margin: 0 8px;
}

@media screen and (min-width: 767px) {
  .header-social {
    display: none;
  }
}

.hero {
  text-align: center;
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .hero__overlay {
    max-width: 480px;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-450-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-450-1x.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-450-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-450-2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    max-width: 768px;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-768-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-768-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-768-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-768-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-1200-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-1200-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/hero-img-1200-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/hero-img-1200-2x.jpg);
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .features__thumb {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features__list .features__item:first-child .features__thumb {
    margin-top: 0;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
  display: block;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 1199px) {
  .direction {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .direction {
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.direction__title {
  margin-bottom: 50px;
}

.direction__titles {
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.direction__label {
  position: absolute;
  padding: 27px;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.direction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100%-90px) / 3);
      flex-basis: calc((100%-90px) / 3);
  margin-right: -30px;
  margin-bottom: -30px;
}

.direction__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__element {
  padding-top: 30px;
}

@media screen and (max-width: 1199px) {
  .team__element {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__element {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin: -15px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__icon:hover, .social-list__icon:focus {
  fill: #ffffff;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item {
  margin: 15px;
}

@media screen and (max-width: 320px) {
  .client__item {
    min-width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.client__icon {
  fill: #afb1b8;
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo--footer {
  color: #ffffff;
}

.address__link {
  display: inline-block;
  font-style: normal;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__contact {
  color: #999999;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__join {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__signin {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-list__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.social-list__icon--footer {
  fill: #ffffff;
}

.footer__mail-input {
  padding-left: 16px;
  height: 50px;
  background-color: #2f303a;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer__mail-input {
    min-width: 300px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__mail-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__mail-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mail-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mail-input {
    margin-right: 12px;
    min-width: 358px;
  }
}

.footer__mail-input:focus {
  border: 1px solid #ffffff 30%;
}

.footer__mail-input::-webkit-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input:-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input::-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input::placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon {
  margin-left: 10px;
}

.filters {
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filters {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  padding: 6px 22px;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters__button {
    margin-bottom: 15px;
  }
}

.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-set__title {
  margin-bottom: 4px;
  color: #212121;
  font-family: "Roboto", sans serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.portfolio-set__item {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio-set__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-set__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-set__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-set__text {
  color: #757575;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-set__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-set__thumb {
  position: relative;
}

.portfolio-set__overflow {
  overflow: hidden;
}

.portfolio-set__link {
  display: block;
}

.portfolio-set__link:hover, .portfolio-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(27, 27, 27, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(27, 27, 27, 0.16);
}

.description {
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__text {
  font-family: "Roboto", sans serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-set__link:hover .description {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.description::-webkit-scrollbar {
  width: 10px;
}

.description::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.description::-webkit-scrollbar-thumb {
  background: #afb1b8;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0);
          transform: translate(0);
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 193px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding-top: 221px;
  }
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(184, 118, 118, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal__close-icon {
  margin: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  margin-bottom: 12px;
  font-family: "Roboto", sans serif;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
  color: #757575;
  font-family: "Roboto", sans serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 35px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input {
  padding: 15px 14px 15px 42px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.form__comment {
  padding: 12px 16px;
  resize: none;
}

.form__comment::-webkit-input-placeholder {
  font-family: "Roboto", sans serif;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__comment:-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__comment::-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__comment::placeholder {
  font-family: "Roboto", sans serif;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .checkbox {
    font-family: "Roboto", sans serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__icon--tick {
  position: absolute;
  left: 0;
  opacity: 0;
  margin-right: 7px;
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 4px;
}

.checkbox__input:checked ~ .checkbox__icon--tick {
  opacity: 1;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.checkbox__input:checked ~ .checkbox__icon {
  opacity: 0;
}

.form__button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__send {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__send:hover, .button__send:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */