body {
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: #212121;
  font-family: "Roboto", sans serif;
  letter-spacing: 0.03;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero__button, .footer__button {
  font-family: "Roboto", sans serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .header__mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
}

.logo--color {
  color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 999;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  background-color: #ffffff;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: block;
    font-family: "Roboto", sans serif;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Roboto", sans serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--active {
    color: #2196f3;
  }
  .site-nav__link--active::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.auth-nav__link {
  font-weight: 500;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  margin-right: 7px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    margin-top: auto;
  }
  .auth-nav__link {
    font-family: "Roboto", sans serif;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .auth-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link--mail {
    font-size: 25px;
  }
}

@media screen and (min-width: 767px) {
  .auth-nav__link--mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link--mail {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link--tel {
    color: #2196f3;
  }
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.header-social__link {
  color: #2196f3;
  font-family: "Roboto", sans serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-social__divider {
  margin: 0 10px;
}

@media screen and (min-width: 767px) {
  .header-social {
    display: none;
  }
}

.hero {
  text-align: center;
}

.hero__overlay {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studioimages/heroimage.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studioimages/heroimage.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .hero__overlay {
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .features__thumb {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features__list .features__item:first-child .features__thumb {
    margin-top: 0;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
  display: block;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 1199px) {
  .direction {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .direction {
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.direction__title {
  margin-bottom: 50px;
}

.direction__titles {
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.direction__label {
  position: absolute;
  padding: 27px;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.direction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100%-90px) / 3);
      flex-basis: calc((100%-90px) / 3);
  margin-right: -30px;
  margin-bottom: -30px;
}

.direction__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__element {
  padding-top: 30px;
}

@media screen and (max-width: 1199px) {
  .team__element {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__element {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin: -15px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__icon:hover, .social-list__icon:focus {
  fill: #ffffff;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .client__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: #afb1b8;
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo--footer {
  color: #ffffff;
}

.address__link {
  display: inline-block;
  font-style: normal;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__contact {
  color: #999999;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__join {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__signin {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .signin-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-list__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.social-list__icon--footer {
  fill: #ffffff;
}

.footer__mail-input {
  padding-left: 16px;
  min-width: 358px;
  height: 50px;
  background-color: #2f303a;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer__mail-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__mail-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mail-input {
    margin-right: 12px;
  }
}

.footer__mail-input:focus {
  border: 1px solid #ffffff 30%;
}

.footer__mail-input::-webkit-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input:-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input::-ms-input-placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__mail-input::placeholder {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon {
  margin-left: 10px;
}

.description::-webkit-scrollbar {
  width: 10px;
}

.description::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.description::-webkit-scrollbar-thumb {
  background: #afb1b8;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
/*# sourceMappingURL=main.css.map */