// %section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

%button {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-background-color;
  background-color: $accent-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

@mixin fonts($family, $size, $height, $spacing) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}
